/*h1 {
    color: deeppink;
    font-family: arial;
}


h2 {
    color: deeppink;
    font-family: arial;
}


h3 {
    color: hotpink;
    font-family: arial;
}*/

body {
    font: 1.125em/1.4 'Source Sans Pro', sans-serif;
    /*background: #eff5f5;*/
    color: deeppink;
    text-align: center;
    padding: 0 0 4em 0;
}
h1 {
    font-weight: 900;
    line-height: 1.2;
    margin: .5em 0 1em;
}
h2 {
    font-weight: 400;
    font-size: 15px;
    color: deeppink;
    text-transform: uppercase;
    letter-spacing: .25em; }

.flexItem h3 {
    font-weight: 400;
    font-size: 14px;
    color: hotpink;
    text-transform: uppercase;
    letter-spacing: .25em; }

.login{
  margin-bottom: 20px;
}

#home{
  margin:auto;
  padding: 30px;
  width:100%;
  background-color:mintcream;
  text-align:center;
  font-size: 3em;
}

#home img{
  margin:auto;
}

.flexContainer {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;

}

.flexContainer1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    align-content: flex-start;
    align-items: center;
}

.flexContainer2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flexItem {
    text-align: center;
}

.flexProducts{
    background-color: mintcream;
    margin:20px;
    width:300px;
    height: 425px;
    padding:20px;
}

.flexReviews{
  flex-flow: column wrap;
  align-items: stretch;
}

.flexReviews h2{
  font-size: 1.8em
}

.flexReviews h3{
  font-size: 1.5em
}

.flexReviews p{
  font-size: 1.2em
}

.flexItemReview{
  text-align: left;
  padding: 50px;
  border-bottom: 2px solid lightgray;
}

.cartItem {
    color: red;
    border-bottom: 2px solid gray;
}


.col-xs-2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.hi-dashboard {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
